<html>
<head>
<body bgcolor= "red">
<center>
<h1 style="color:black;font-size:40px;"> Hello Everyone!! I Completed the Task15 </h1>
<h1 style="color:black;font-size:40px;"> This  Webserver is running on RedHat os having ip address{{ ansible_facts['default_ipv4']['address'] }} ...!!</h1>
</center>
</body>
</head>
</html>